<footer class="footer" style="background-color: #18242C;">
    <div class="container-fluid">
        <div class="row" style="padding: 2% 10% 0% 10%;">
            <div class="col s12">
                <img class="responsive-img" src="./assets/ucvLogoBlackWhite.png" alt="logoUcvPng">
            </div>
        </div>
        <div class="row" style="padding: 0% 10% 0% 10%;">
            <hr>
        </div>
        <div class="row" style="padding: 0% 10% 2% 10%;">
            <div class="class col s7" style="color: white;">
                <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/ve/" target="_blank">
                    <img class="responsive-img" src="./assets/licenciaCC.png" alt="licenciaCreativeCommons">
                </a>
                © 2021 | Universidad Central de Venezuela
            </div>
        </div>
        
    </div>
</footer>
