.example-container {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #0e1621;
}

.example-sidenav {
    user-select: none;
    background-color: #18242C;
    border: none;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
}

.simulationTitle {
    margin-top: 2.5%;
    margin-bottom: 3%;
    font-family: 'Montserrat';
    font-size: 200%;
    font-style: normal;
    line-height: 44px;
}

::ng-deep .mat-slider-horizontal .mat-slider-track-fill {
    background-color: #192AC2 !important;
}

::ng-deep .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
    background-color: #192AC2 !important;
}

::ng-deep .mat-slider-horizontal .mat-slider-thumb-label {
    background-color: #192AC2 !important;
}

button {
    background-color: #192AC2;
    height: 63px;
    border: none;
    border-radius: 5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

button.roundButton {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 0;
}

.resultados {
    background-color: rgb(25, 42, 194, 10%);
    width: 100%;
    height: 320%;
    border-radius: 60px 60px 0px 0px;
}

mat-card {
    background-color: #18242C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65) !important;
}

.example-card {
    height: 100%;
    margin-bottom: 20px;
}

.cardTitle {
    margin: 2% 0% 8% 0% !important;
    position: relative;
    text-align: center;
    font-size: 250%;
    font-style: normal;
    line-height: 44px;
}

.rowInfo {
    margin: 10% 0% 10% 0%;
}

.rowData {
    font-size: 250%;
    font-style: normal;
}



